
html,body{
	overflow:hidden;
  height:100vh;
  background: #020202;
  }

#canvas {
  display: block;
  /*position: fixed;*/

  width: 1280px;
  height: 720px;
  margin:	0 auto;
	padding: 10px
  border:1px solid #123;
  border-radius:10px;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}
